.testi_item {
  padding: 50px 55px;
  margin-bottom: 200px;
  margin-left: 10px;
  margin: 0px 10px 80px;
  box-shadow: 20px 20px 30px 0px rgba(221, 221, 221, 0.3);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.media-29101 {
  text-align: center;
  padding: 0px 20px 0px 20px;
}

.media-29101 img {
  margin-bottom: 20px;
  border-radius: 50%;
  width: 15% !important;
  margin: 0 auto 20px auto;
}

.media-29101 h4 {
  font-size: 20px;
  font-weight: 700 !important;
  margin-bottom: 30px;
}

.media-29101 h4 a {
  color: var(--text-color);
  text-decoration: none;
}

@media (max-width: 991px) {
  .testi_item {
    margin-bottom: 0px;
  }
  .double-qote::before {
    color: var(--text-color) !important;
    content: "\f10e";
    font-family: fontawesome;
    font-size: 48px;
    left: 1.5rem;
    line-height: 1;
    opacity: 0.5;
    position: fixed;
    bottom: 110px;
}
}

@media (max-width: 575px) {
  .testi_item {
    padding: 30px 20px;
  }
  .double-qote::before {
    display: none;
}
}

.testi_item img {
  border-radius: 5px;
}

.testi_item .col-lg-8 {
  vertical-align: middle;
  align-self: center;
}

@media (max-width: 991px) {
  .testi_item .testi_text {
    margin-top: 50px;
  }
  .double-qote::before {
    color: var(--text-color) !important;
    content: "\f10e";
    font-family: fontawesome;
    font-size: 48px;
    left: 1.5rem;
    line-height: 1;
    opacity: 0.5;
    position: fixed;
    bottom: 110px;
}
}
@media screen  and (max-width: 963px) {
  .double-qote::before {
    display: none;
  }
}

.testi_item .testi_text h4 {
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.testi_item .testi_text p {
  margin-bottom: 0px;
}

.testi_item:hover {
  box-shadow: 0px 10px 30px 0px rgba(0, 35, 71, 0.1);
}

.double-qote::before {
    color: var(--text-color) !important;
    content: "\f10e";
    font-family: fontawesome;
    font-size: 48px;
    left: 1.5rem;
    line-height: 1;
    opacity: 0.5;
    position: absolute;
    bottom: 110px;
}